[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
[mysqld]
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
log-bin=/var/log/mysql/slave-bin
log-bin-index=/var/log/mysql/slave-bin.index
binlog_format=mixed
server-id=02
replicate-do-db=notes
relay-log-index=/var/log/mysql/slave-relay-bin.index
relay-log=/var/log/mysql/slave-relay-bin
